body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 20px;
    color: white; /* Add this for text visibility */
}

h1 {
    text-align: center;
    color: lightblue;
}

#blockchain-container {
    position: absolute;
    top: 70%;               /* Vertical center */
    left: 70%;              /* Horizontal center */
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    height: 100%;
}

.block {
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: #4E5B6E;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 2px solid #00ADB5;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: absolute; /* Ensure it is positioned absolutely */
}

.block:hover {
    transform: scale(1.1);
}

.block-number {
    font-weight: bold;
}

/* Block Details */
.block-details {
    background-color: #393E46;
    color: #EEEEEE;
    border: 2px solid #00ADB5;
    border-radius: 8px;
    padding: 20px;
    width: 60%;
    margin: 20px auto;
    text-align: center;
    position: relative;
}

/* Close button positioning */
.close {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close:hover {
    background-color: #218838;
}

.dashboard {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #393E46;
    color: #EEEEEE;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
}

.dashboard:hover {
    background-color: #00ADB5;
}
